@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 100% 96%;
    --foreground: 199 5% 10%;
    --card: 199 50% 96%;
    --card-foreground: 199 5% 15%;
    --popover: 199 100% 96%;
    --popover-foreground: 199 100% 10%;
    --primary: 199 88.7% 48.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 30% 95%;
    --muted-foreground: 199 5% 40%;
    --accent: 161 30% 90%;
    --accent-foreground: 199 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199 5% 96%;
    --border: 199 30% 82%;
    --input: 199 30% 50%;
    --ring: 199 88.7% 48.4%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 199 50% 10%;
    --foreground: 199 5% 96%;
    --card: 199 50% 10%;
    --card-foreground: 199 5% 96%;
    --popover: 199 50% 5%;
    --popover-foreground: 199 5% 96%;
    --primary: 199 88.7% 48.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161 30% 25%;
    --muted-foreground: 199 5% 65%;
    --accent: 161 30% 25%;
    --accent-foreground: 199 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199 5% 96%;
    --border: 199 30% 50%;
    --input: 199 30% 50%;
    --ring: 199 88.7% 48.4%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loading {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

html {
  scroll-behavior: smooth;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
  }
}
